root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.yml]
indent_size = 2

[*.php]
ij_php_align_assignments = true
ij_php_align_class_constants = true
ij_php_align_enum_cases = true
ij_php_align_group_field_declarations = true
ij_php_align_inline_comments = true
ij_php_align_key_value_pairs = true
ij_php_align_match_arm_bodies = true
ij_php_align_multiline_array_initializer_expression = false
ij_php_align_multiline_binary_operation = true
ij_php_align_multiline_chained_methods = false
ij_php_align_multiline_extends_list = true
ij_php_align_multiline_for = true
ij_php_align_multiline_parameters = false
ij_php_align_multiline_parameters_in_calls = false
ij_php_align_multiline_ternary_operation = false
ij_php_align_named_arguments = true
ij_php_align_phpdoc_comments = true
ij_php_align_phpdoc_param_names = true
