# Laravel 6 & Lumen specific
/node_modules/*
/public/
/public/hot
/public/storage
/public/js/app.js
/storage/*.key
/storage/api-docs
/storage/*
!/storage/framework/
/vendor/*

.env.*.php
.env.php
.env
.phpunit.result.cache

Homestead.json
Homestead.yaml

npm-debug.log
yarn-error.log

/.idea
/.vscode
/.vagrant

# Fontawesome
/public/fonts/vendor/


# Mac specific
.DS_Store

# Netbeans specific
/nbproject
