/*
 * Component: Box
 * --------------
 */

.card {
    border-width: 0;

    > .card-header[data-card-widget="collapse"]:hover {
        cursor: pointer;
        background-color: #e9ecef;
    }
}
.box-group {
    .box {
        margin-bottom: 0px;
    }
}

.boxcontent {
    > ul {
        padding-left: 20px !important;
        padding-right: 5px !important;
    }
}
