/*
 * Component: Box
 * --------------
 */

.card{
    border-width: 0;
}
.box-group {
    .box {
        margin-bottom: 0px;
    }
}

.boxcontent {
    > ul {
        padding-left: 20px !important;
        padding-right: 5px !important;
    }
}
