#header {
    z-index: 100;

    & > #brand-menu {
        & > #brand-menu-dropdown {
            top: 100%;
            min-width: max-content;
            border-radius: 0 0 0.5rem 0.5rem;
            box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.25);

            & .fa {
                width: 24px;
                max-height: 24px;
                font-size: 1.25rem;
            }
            & > div:last-child a { border-radius: 0 0 0.5rem 0.5rem; }
        }
        & a {
            @extend .text-dark;

            &[href=\/home] {
                font-size: 1.25rem;
            }
            &:hover {
                color: white;
                text-decoration: none;
                background-color: #65a300;
            }
        }
    }
}