.text-green { color: #00a65a; }

// Text size
.t-18 { font-size: 1.125rem; }
.t-20 { font-size: 1.25rem; }

.text-border-black {
    text-shadow: 1px 0px black, 0px 1px black, -1px 0px black, 0px -1px black;
}
.text-border-white {
    text-shadow: 1px 0px white, 0px 1px white, -1px 0px white, 0px -1px white;
}

.hyphens {
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}