@import url(https://fonts.googleapis.com/css?family=Nunito);/*// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #000;
$black: #111;*/

/*
 * Component: Box
 * --------------
 */

.box-group .box {
  margin-bottom: 0px;
}

.boxcontent > ul {
  padding-left: 20px !important;
  padding-right: 5px !important;
}

.box {
  border-radius: 0px;
  position: relative;
  border: 0;
  background: #fff;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box.box-objective {
  margin: 0px;
  height: 50px;
  border: 1px solid #d2d6de;
}

.box.box-primary {
  background-color: #3c8dbc;
}

.box.box-primary > .box-header > .box-title > a {
  color: #fff;
}

.box.box-info {
  background-color: #00c0ef;
}

.box.box-info > .box-header > .box-title > a {
  color: #fff;
}

.box.box-danger {
  background-color: #dd4b39;
}

.box.box-danger > .box-header > .box-title > a {
  color: #fff;
}

.box.box-warning {
  background-color: #f39c12;
}

.box.box-warning > .box-header > .box-title > a {
  color: #fff;
}

.box.box-success {
  background-color: #00a65a;
}

.box.box-success > .box-header > .box-title > a {
  color: #fff;
}

.box.box-default {
  background-color: #fff;
}

.box.box-default > .box-header > .box-title > a {
  color: #111;
}

.box.box-default > .box-header:hover {
  background-color: #eeeeee;
}

.box.box-default > .box-header:hover > .box-title > a {
  color: #0073b7;
}

.box.collapsed-box .box-body,
.box.collapsed-box .box-footer {
  display: none;
}

.box .nav-stacked > li {
  border-bottom: 1px solid #f4f4f4;
  margin: 0;
}

.box .nav-stacked > li:last-of-type {
  border-bottom: none;
}

.box.height-control .box-body {
  max-height: 300px;
  overflow: auto;
}

.box .border-right {
  border-right: 1px solid #f4f4f4;
}

.box .border-left {
  border-left: 1px solid #f4f4f4;
}

.box.box-solid {
  border-top: 0;
}

.box.box-solid > .box-header .btn.btn-default {
  background: transparent;
}

.box.box-solid > .box-header .btn:hover,
.box.box-solid > .box-header a:hover {
  background: rgba(0, 0, 0, 0.1);
}

.box.box-solid > .box-header > .box-tools .btn {
  border: 0;
  box-shadow: none;
}

.box.box-solid[class*=bg] > .box-header {
  color: #fff;
}

.box .box-group > .box {
  margin-bottom: 5px;
}

.box .knob-label {
  text-align: center;
  color: #333;
  font-weight: 100;
  font-size: 12px;
  margin-bottom: 0.3em;
}

.box > .overlay,
.box > .loading-img,
.overlay-wrapper > .overlay,
.overlay-wrapper > .loading-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box .overlay,
.overlay-wrapper .overlay {
  z-index: 50;
  background: rgba(255, 255, 255, 0.7);
}

.box .overlay > .fa,
.overlay-wrapper .overlay > .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px;
}

.box .overlay.dark,
.overlay-wrapper .overlay.dark {
  background: rgba(0, 0, 0, 0.5);
}

.box-header {
  color: #111;
  font-size: 14px !important;
  display: block;
  padding: 10px;
  position: relative;
}

.box-header.with-border {
  border: 1px solid #f4f4f4;
}

.collapsed-box .box-header.with-border {
  border-bottom: none;
}

.box-header.small {
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  padding: 5px 10px;
}

.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
}

.box-header > .fa.small,
.box-header > .glyphicon.small,
.box-header > .ion.small,
.box-header .box-title.small {
  font-size: 14px !important;
}

.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion {
  margin-right: 5px;
}

.box-header > .box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}

.box-header > .box-tools [data-toggle=tooltip] {
  position: relative;
}

.box-header > .box-tools.pull-right .dropdown-menu {
  right: 0;
  left: auto;
}

.box-header > .box-tools .dropdown-menu > li > a {
  color: #444 !important;
}

.btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: #97a0b3;
}

.open .btn-box-tool,
.btn-box-tool:hover {
  color: #606c84;
}

.btn-box-tool.btn:active {
  box-shadow: none;
}

.box-body {
  font-size: 14px !important;
  line-height: 21px;
  color: #111;
  border: 1px solid #f4f4f4;
  padding: 10px;
}

.box-body.small {
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  font-size: 12px;
  line-height: 15px;
}

.box-body > .table {
  margin-bottom: 0;
}

.box-body .fc {
  margin-top: 5px;
}

.box-body .full-width-chart {
  margin: -19px;
}

.box-body.no-padding .full-width-chart {
  margin: -9px;
}

.box-footer {
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  background-color: #fff;
}

.box-comments {
  background: #f7f7f7;
}

.box-comments .box-comment {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.box-comments .box-comment:last-of-type {
  border-bottom: 0;
}

.box-comments .box-comment:first-of-type {
  padding-top: 0;
}

.box-comments .box-comment img {
  float: left;
}

.box-comments .comment-text {
  margin-left: 40px;
  color: #555;
}

.box-comments .username {
  color: #444;
  display: block;
  font-weight: 600;
}

.box-comments .text-muted {
  font-weight: 400;
  font-size: 12px;
}

/* Widget: TODO LIST */

.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
}

.todo-list > li {
  padding: 10px;
  background: #f4f4f4;
  margin-bottom: 2px;
  border-left: 2px solid #e6e7e8;
  color: #444;
}

.todo-list > li:last-of-type {
  margin-bottom: 0;
}

.todo-list > li > input[type=checkbox] {
  margin: 0 10px 0 5px;
}

.todo-list > li .text {
  display: inline-block;
  margin-left: 5px;
  font-weight: 600;
}

.todo-list > li .label {
  margin-left: 10px;
  font-size: 10px;
}

.todo-list > li .tools {
  display: none;
  float: right;
  color: #dd4b39;
}

.todo-list > li .tools > .fa,
.todo-list > li .tools > .glyphicon,
.todo-list > li .tools > .ion {
  margin-right: 5px;
  cursor: pointer;
}

.todo-list > li:hover .tools {
  display: inline-block;
}

.todo-list > li.done {
  color: #999;
}

.todo-list > li.done .text {
  text-decoration: line-through;
  font-weight: 500;
}

.todo-list > li.done .label {
  background: #d2d6de !important;
}

.todo-list .danger {
  border-left-color: #dd4b39;
}

.todo-list .warning {
  border-left-color: #f39c12;
}

.todo-list .info {
  border-left-color: #00c0ef;
}

.todo-list .success {
  border-left-color: #00a65a;
}

.todo-list .primary {
  border-left-color: #3c8dbc;
}

.todo-list .handle {
  display: inline-block;
  cursor: move;
  margin: 0 5px;
}

/* Chat widget (DEPRECATED - this will be removed in the next major release. Use Direct Chat instead)*/

.chat {
  padding: 5px 20px 5px 10px;
}

.chat .item {
  margin-bottom: 10px;
}

.chat .item > img {
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
}

.chat .item > .online {
  border: 2px solid #00a65a;
}

.chat .item > .offline {
  border: 2px solid #dd4b39;
}

.chat .item > .message {
  margin-left: 55px;
  margin-top: -40px;
}

.chat .item > .message > .name {
  display: block;
  font-weight: 600;
}

.chat .item > .attachment {
  background: #f4f4f4;
  margin-left: 65px;
  margin-right: 15px;
  padding: 10px;
}

.chat .item > .attachment > h4 {
  margin: 0 0 5px 0;
  font-weight: 600;
  font-size: 14px !important;
}

.chat .item > .attachment > p,
.chat .item > .attachment > .filename {
  font-weight: 600;
  font-size: 13px;
  font-style: italic;
  margin: 0;
}

.box-input {
  max-width: 200px;
}

.modal .panel-body {
  color: #444;
}

/*styles (xs, sm) */

@media (max-width: 990px) {
  .box.box-objective {
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0px;
    padding-left: 5px;
    padding-bottom: 0px;
    border-bottom: 1px solid #eee;
  }

  .box .boxheader {
    margin: 0px;
    position: absolute;
    left: 0px;
    padding: 5px 2px 0 2px;
    height: 100px;
    width: 5px;
    text-align: center;
  }

  .box .boxscroll {
    /*width: 170px; */
    /*20px more than box to hide scrollbar*/
    padding-top: 5px;
    padding-right: 25px;
    /*for Firefox only*/
    overflow-x: hidden;
    overflow-y: auto;
    height: 100px !important;
  }

  .box .boxwrap {
    width: 100%;
    overflow: hidden;
    margin: 0px !important;
    padding: 0 0 0 20px;
  }

  .box .boxcontent {
    /*Hack: boxwrap, boxscroll and boxcontent used to hide scroll crossbrowser compatible*/
    margin: 0px;
    font-size: 90%;
    padding-left: 10px;
    padding-right: 60px;
    font-size: 90%;
  }

  .box .boxfooter {
    margin: -100px 0 0 15px;
    padding: 4px 0px 0 10px;
    position: absolute;
    right: 0px;
    width: 59px;
    height: 100px;
    overflow: auto;
    z-index: 1;
  }

  .box .box-sm-icon {
    display: inline;
    text-align: center;
    padding: 3px 1px 5px 1px;
    float: none !important;
  }
}

/* /.sm view */

/*styles (md, lg) */

@media (min-width: 991px) {
  .box.box-objective {
    float: left;
    height: 200px;
    width: 200px;
    position: relative;
    margin: 0px;
    margin-bottom: 10px;
    margin-right: 10px;
  }

  .box .boxheader {
    width: 100%;
    margin: 0px;
    margin-bottom: 20px;
    padding: 4px 10px 0 10px;
    height: 5px;
    font-size: 90%;
    position: relative;
    /* add top right radius*/
    -moz-border-top-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }

  .box .boxheader > span,
  .box .boxheader > a > span,
  .box .padding-top-5 {
    padding-top: 5px;
  }

  .box .boxscroll {
    width: 200px;
    padding-top: 5px;
    padding-right: 25px;
    /*for Firefox only*/
    overflow-x: hidden;
    overflow-y: auto;
    height: 150px !important;
    background: linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
    background: linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    /* Opera doesn't support this in the shorthand */
    background-attachment: local, local, scroll, scroll;
    height: 140px !important;
  }

  .box .boxwrap {
    width: 100%;
    overflow: hidden;
    margin: 0px !important;
    padding: 0px;
  }

  .box .boxcontent {
    /*Hack: boxwrap, boxscroll and boxcontent used to hide scroll crossbrowser compatible*/
    margin: 0px;
    width: 200px;
    font-size: 90%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 90%;
  }

  .box .boxfooter {
    position: absolute;
    margin: 0px;
    padding: 4px 10px 0 10px;
    top: 173px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 25px;
    width: 100%;
    font-size: 90%;
    text-align: left !important;
    /* get rid of top right radius*/
    -moz-border-top-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
}

/*
 * Component: Box
 * --------------
 */

.box-group .box {
  margin-bottom: 0px;
}

.boxcontent > ul {
  padding-left: 20px !important;
  padding-right: 5px !important;
}

/*
 * Text (color, size)
 * --------------
 */

.text-red {
  color: #dd4b39 !important;
}

.text-yellow {
  color: #f39c12 !important;
}

.text-aqua {
  color: #00c0ef !important;
}

.text-blue {
  color: #0073b7 !important;
}

.text-black {
  color: #111 !important;
}

.text-light-blue,
.text-primary {
  color: #3c8dbc !important;
}

.text-green {
  color: #00a65a !important;
}

.text-gray {
  color: #d2d6de !important;
}

.text-navy {
  color: #001F3F !important;
}

.text-teal {
  color: #39CCCC !important;
}

.text-olive {
  color: #3d9970 !important;
}

.text-lime {
  color: #01ff70 !important;
}

.text-orange {
  color: #FF851B !important;
}

.text-fuchsia {
  color: #F012BE !important;
}

.text-purple {
  color: #605ca8 !important;
}

.text-maroon {
  color: #D81B60 !important;
}

.t-18 {
  font-size: 1.125rem;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.text-cut {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pointer {
  cursor: pointer;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.fabadge[data-count] {
  position: relative;
}

.fabadge[data-count]:after {
  position: absolute;
  right: -0.75em;
  top: -0.75em;
  content: attr(data-count);
  border-radius: 10em;
  line-height: 0.9em;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  min-width: 2em;
  font: bold 0.4em sans-serif;
}

